.settingsText {
	color: #bbbbbb;
}
.settingsNote {
	color: #999999;
}
.settingsLink {
	color: #4288ee;
}
.popupContent {
	background-color: #404040;
	border: solid 3px #111111;
}
.settingsTitle {
	border-bottom: #bbbbbb 2px solid;
	color: #bbbbbb;
}
.settingsSelection {
	border-bottom: #4288ee 2px solid;
	color: #4288ee;
}
.settingsContentPopout {
	background-color: #F3F3F3;
}
.shortcutText {
	color: #d6d6d6;
}
.characterSelector {
	background-color: #4f4f4f;
	border: 2px solid rgba(17, 17, 17, 0.5);
}


#settingsContent {
	background: no-repeat url(img/settingsbg-dark.png), linear-gradient(#4d4d4d, #333333);
}
#settingsHeaderBorder {
	border-bottom: #b0b0b0 3px solid;
}
#shortcutHeader {
	border-bottom: #b0b0b0 3px solid;
}
#settingsFooterBorder {
	border-bottom: #b0b0b0 3px solid;
}
#gameSelectorDiv {
	color: #d6d6d6;
}


.chooseImgSelected {
	width: 60px;
	-webkit-filter: grayscale(40%);
			filter: grayscale(40%);
}
#turnShoppingSelection span {
	color: #FFFFFF;
}

@keyframes error {
	0% { color: #ff0000; }
	50% { color: #ff0000; }
	100% { color: #BBBBBB; }
}