/*
 * This file is from a codepen by user @andreasstorm: https://codepen.io/andreasstorm/pen/dNqLBz - modified by blueYOSHI
 */

 .inputContainer {
 	height: 15px;
 }

input[type="checkbox"], input[type="radio"] {
	display: initial; /* not display: none; so scrollIntoView() can be used */
	position: absolute;
	visibility: hidden;
}

label.newdesign {
	display: inline-block;
	position: relative;
	top: -1px;
	width: 15px;
	height: 15px;
	border: 1px solid #c8ccd4;
	border-radius: 3px;
	background-color: #6871f123;
	vertical-align: middle;
	transition: background 0.1s ease;
	cursor: pointer;
}

label.newdesign:after {
	content: '';
	position: absolute;
	opacity: 0;
	transform: rotate(45deg) scale(0);
	transition: all 0.3s ease;
	transition-delay: 0.03s;
}

input[type="checkbox"] ~ label.newdesign:after {
	top: 0px;
	left: 5px;
	width: 4px;
	height: 10px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

input[type="radio"] ~ label.newdesign:after {
	top: 2px;
	left: 2px;
	height: 6px;
	width: 6px;
	border: 2px solid #fff;
	border-radius: 30px;
	background-color: #fff;
}

input[type="radio"] ~ label.newdesign {
	border-radius: 30px;
}

input[type="checkbox"]:checked ~ label.newdesign, input[type="radio"]:checked ~ label.newdesign {
	border-color: transparent;
	background: #6871f1;
	animation: jelly 0.6s ease;
}

input[type="checkbox"]:checked ~ label.newdesign:after, input[type="radio"]:checked ~ label.newdesign:after {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}
input[type="checkbox"][disabled] ~ label.newdesign, input[type="radio"][disabled] ~ label.newdesign {
	cursor: default !important;
}

@keyframes jelly {
	from {
		transform: scale(1, 1);
	}
	to {
		transform: scale(1, 1);
	}
}