/* Copyright 2021 MarioPartyOverlay AUTHORS */
/* SPDX-License-Identifier: Apache-2.0 */

/**	The catch-all container that lists all windows inside it.
 */
#modal_catchAllContainer {
	/**	Absolute positioning so it doesn't interfere with the actual website structure.
	 */
	position: absolute;

	/**	Use 100 so it's always on top of everything else.
	 */
	z-index: 100;
}

/**	The container of a regular, non-embedded modal.
 */
.modal_container {
	/**	'block' is needed so that it actually takes up the exact amount of space that's specified (necessary for floating modals since they can be resized).
	 * 	'inline' is needed so they're actually exactly where they should be embedded in (necessary for embedded modals).
	 *
	 * 	'inline-block' is used to make sure it's the same across all embeds, whether they're embedded or floating.
	 */
	display: inline-block;
}

/**	The container of a floating modal (any modal that isn't embed).
 */
.modal_floatingModal {
	/**	Set all properties that 'interaction.js' uses to use the variables set by 'interaction.js'.
	 */
	height: var(--interaction_elemHeight);
	width:  var(--interaction_elemWidth );
	top:    var(--interaction_elemY     );
	left:   var(--interaction_elemX     );

	/**	Has to be absolute so it can be moved around (might be moved to 'drag_moveable').
	 */
	position: absolute;

	/**	Background color so it's actually visible.
	 * 	To be changed.
	 */
	background-color: #add8e6;
}

/**	The container of a embedded modal.
 */
.modal_embedModal {}

/**	The menu bar of a modal.
 */
.modal_menuBar {
	/**	Set it to 'block' so it gets it's own line.
	 */
	display: block;
}

/**	The modal at the front.
 */
.modal_focused {}

/**	All unfocused modals.
 */
.modal_unfocused {
	/**	Make them half-transparent. Mainly just to test that it works.
	 */
	opacity: .5;
}

.modal_collapsed {
	height: auto !important;
}

/**	Collapse all modals that should be collapsed.
 *
 * 	'!important' has to be used on all declarations in here to make sure other stuff doesn't overwrite it (not on accident at least).
 */
.modal_collapsed > .modal_main {
	/**	'display: block;' is needed because it not being 'block' causes 'height: 0;' to not work.
	 * 	Don't ask me why.
	 */
	display: block !important;

	/**	Set 'height' to 0 instead of using 'display: hidden;' to keep the width.
	 */
	height: 0 !important;

	/**	Hide all elements to keep them from overflowing.
	 */
	overflow: hidden !important;
}

/* === 'modalClass' SPECIFIC RULES === */

.modalClass_testo > .modal_main {
	/**	'display: block;' so it actually takes up the exact amount of space it should.
	 */
	display: block;

	/**	Specify height and width so it actually gets displayed.
	 * 	Exact sizes will likely be changed later on.
	 */
	height: 200px;
	width: 400px;
}

.modalClass_characterSelection > .modal_main {
	/**	'display: block;' so it actually takes up the exact amount of space it should.
	 */
	display: block;

	/**	Specify width so it doesn't just get displayed as a single column.
	 * 	Exact sizes will likely be changed later on.
	 */
	width: 1000px;
}